/* 
  Partial: HeroBannerMenu
*/

.hero-banner {
    height: 800px;
    position: relative;
}

.hero-banner-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.hero-banner-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--overlay-medium);
    z-index: 1;
    pointer-events: none;
}

.hero-banner-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-color-600);
    border-radius: var(--size-400);
}

.hero-banner-content p {
    margin-inline: auto;
    font-size: var(--fs-body);
}

.hero-banner-title {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
}

/* Responsive Styles for Banner */
@media (max-width: 768px) {
    .hero-banner {
        height: 50vh;
        min-height: 400px;
    }

    .hero-banner-content {
        width: 90%;
    }

    .hero-banner-title {
        font-size: 2.2rem;
    }
    
    .hero-banner-content p {
        font-size: 0.9rem;
    }
}
